body {
    font-family: $font;
    font-weight: 500;
    overflow-x: hidden;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #F8F8FA;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 32px;
  }
  p{
    font-size: 18px;
  }


.is-selected{
  width: 100%;
}



/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}





















#background-coffee{

    background-image: url("../img/Background.png");
    height: 800px;
    nav{
      background-color: unset;
    }
  
}

#cards{
  background-color: #f2f2f2;
}



.tilt-image {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

  @media only screen and (min-width: $sm) {}
  @media only screen and (min-width: $md) {}
  @media only screen and (min-width: $lg) {}
  @media only screen and (min-width: $xl) {

  }
  @media only screen and (min-width: 1736px) {}
  @keyframes svganimation{}
