body {
    font-family: $font;
    font-weight: 500;
    overflow-x: hidden;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #F8F8FA;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 32px;
  }
  p{
    font-size: 18px;
  }


.is-selected{
  width: 100%;
}



/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}





















#background-coffee{
    
    background-image: url("../img/bg_1920x1080.png");
    height: 100vh;
    background-repeat: no-repeat;
    .vh{
      height: 100vh;
    }

}
.navbar-toggler-icon {
  background-image: url("../img/iconfinder-icon.svg");
}
#cards{
  background-color: #f2f2f2;
}



.tilt-image {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

  @media only screen and (min-width: $sm) {}
  @media only screen and (min-width: $md) {}
  @media only screen and (min-width: $lg) {}
  @media only screen and (min-width: $xl) {

  }
  @media only screen and (min-width: 1736px) {}
  @keyframes svganimation{}











  nav.nav-collapse {
    background-color: #000000 !important;

}

  .nav-shadow+#bg-full-nav {
    height: 100% !important;
    opacity: 1;
}

nav {
    transition: 0.45s ease-in-out;
    .container {
        z-index: 1041;
    }
    .btn-nav {
        margin-top: 15px;
    }
    .collapse {
        ul {
            li {
                text-align: left;
                a {
                    color: $white;
                }
            }
        }
    }
    &.nav-shadow {
        background-color: $black !important;
        z-index: 1041;
        margin: 15px;
        height: 95vh;
        .container {
            height: 100%;
            justify-content: space-between;
            align-items: flex-start;
        }
        .navbar-brand {
            .img-one {
                display: block !important;
            }
            .img-two {
                display: none !important;
            }
        }
        .btn-nav {
            div {
                background-color: $white;
            }
        }
        .collapse {
            ul {
                li {
                    text-align: left;
                    a {
                        color: $white;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    &.nav-collapse {
        background-color: $gray;
        margin: 15px;
        .container {
            z-index: 1041;
            height: 100%;
        }
        .btn-nav {
            margin: 15px;
            div {
                background-color: $white;
            }
        }
        .collapse {
            ul {
                li {
                    a {
                        color: $white;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
a.btn-default {
  display: block;
}

a.btn-default,
button.btn-default {
  transition: all .40s ease-in-out;
  background-color: transparent;
  border: 0;
  color: $purple !important;
  hr {
      transition: all .40s ease-in-out;
      margin-left: 0;
      background-color: $purple;
      margin-top: 6px;
      margin-bottom: 0;
      max-width: 130px;
  }
  &:hover {
      color: $green !important;
  }
  &:hover hr {
      background-color: $green;
      width: 100%;
      max-width: 130px;
  }
  &:focus {
      outline: unset;
  }
}

#bg-full-nav {
  width: 100%;
  background-color: white;
  height: 97px;
  position: fixed;
  top: 0;
  display: block;
  left: 0;
  opacity: 0;
  z-index: 100;
}

#bg-full-nav-2 {
  width: 100%;
  background-color: white;
  height: 97px;
  position: fixed;
  top: 0;
  display: block;
  left: 0;
  opacity: 0;
  z-index: 100;
}


.btn-nav {
  cursor: pointer;
  width: 28px;
  z-index: 2;
  transition: opacity 0.3s ease-out;
  padding: 0px 0.2em;
  display: inline-block;
  border: none;
  margin-right: 25px;
  &:hover,
  &:focus,
  &:active {
      opacity: 1;
      outline: none;
  }
  div {
      width: 28px;
      height: 4px;
      background: $white;
      margin: 4px 0;
      transition: all 0.3s;
      backface-visibility: hidden;
  }
}

.btn-nav.on .one {
  transform: rotate(45deg) translate(0px, 0px);
}

.btn-nav.on .two {
  opacity: 0;
}

.btn-nav.on .three {
  transform: rotate(-45deg) translate(5px, -6px);
}



.bg-black {
  background-color: #231F20;
}



