$white: #fff;
$whitetwo: #F8F8FA;
$blueg: #13203A;
$greeng: #74C388;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Roboto', Arial, Helvetica, sans-serif;

$transition: .35s ease-in-out;